<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <% if @user.image? %>
          <%= image_tag @user.image.url, class: "user_image" %>
        <% else %>
          <%= image_tag asset_path('default.jpeg', :width =>'50', :height =>'50', :alt => '画像'), class: "user_image" %>
        <% end %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>